
@mixin dashboard-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

@mixin overview{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
}

@mixin overview-content($border-color : #000){
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    outline: 1px solid $border-color;
    img{
        margin: 0px;
        object-position: left;
        object-fit: cover;
        height: 60%;
        width: 35%;
        aspect-ratio: 1/1;
        backface-visibility: hidden;
        border: solid black 1px;
    }
    h1  {
        margin: 5px;
    }
    p {
        text-align: end;
        margin-right: 5px;
    }
    .company-name{
        margin-block: 5px;
    }
}

@mixin detailed{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

@mixin detailed-content($border-color){
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.33%;
    outline: 1px solid $border-color;
    h2, h3, h4, sb{
        margin: 10px;
    }
    h3 {
        text-align: end;
        padding-right: 5px;
        border-bottom: 1px dotted $border-color;
    }
    p {
        text-align: end;
        padding-right: 5px;
    }
    p:not(:last-child) {
        border-bottom: 1px dotted $border-color;
    }
}