@use 'var';


@mixin index-rules{
    background-color: var.$index-secondary-color;
    color: var.$index-accent-color;
    align-content: center;
    align-items: center;

    .dashboard-container{
        height: 70vh;
        width: 80%;
        background-color: var.$index-primary-color;
        margin: auto;
        display: flex;
        justify-self: center;
        align-self: center;
        flex-direction: row;
    }
    .preformanceIndex{
        width: 20%;
        border: solid 1px var.$index-accent-color;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
        a {
            text-decoration: underline;
            color: var.$index-accent-color;
        }
    }


    .preformanceiframe{
        width: 85%;
        border: solid 1px var.$index-accent-color;
    }
    .preformanceiframe iframe{
        height: 100%;
        width: 100%;
        border: none;
    }
    @media (max-width: 768px){
        .dashboard-container{
            flex-direction: column;
            height: 90vh;
            width: 95%;
        }
        .preformanceIndex{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 20%;
            align-items: center;
            gap: 0.5rem;
        }
        .preformanceiframe{
            width: 100%;
            height: 80%;
        }
    }
}