@use 'var';


@mixin index-rules{
    background-color: var.$index-secondary-color;
    color: var.$index-accent-color;
    align-content: center;
    align-items: center;

    .dashboard-container{
        height: 70vh;
        width: 80%;
        background-color: var.$index-primary-color;
        margin: auto;
        display: flex;
        justify-self: center;
        align-self: center;
        flex-direction: row;
        border-radius: 25px 0px 0px 25px;
    }
    .preformanceIndex{
        width: 20%;
        border: solid 1px var.$index-accent-color;
        border-radius: 25px 0px 0px 25px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0.5rem;
    }
    .index-button {
        color: var.$index-accent-color;
        background-color: var.$index-secondary-color;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .index-button:hover{
        color: var.$index-primary-color ;
        background-color: var.$index-button-hover-color;
    }

    .preformanceiframe{
        width: 85%;
        border: solid 1px var.$index-accent-color;
    }
    .preformanceiframe iframe{
        height: 100%;
        width: 100%;
        border: none;
    }
    @media (max-width: 768px){
        .dashboard-container{
            flex-direction: column;
            height: 90vh;
            width: 95%;
            border-radius: 25px 25px 0px 0px ;
        }
        .preformanceIndex{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 20%;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 25px 25px 0px 0px ;
        }
        .preformanceIndex div{
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        .preformanceiframe{
            width: 100%;
            height: 80%;
        }
    }
}