$index-primary-color: #f0f0f0 ;
$index-secondary-color: #fcecc8 ;
$index-accent-color: #000000;
$index-button-hover-color: #031337;

$ant-primary-color: #D98C4A;
$ant-secondary-color: #732002;
$ant-accent-color: #200000;
$ant-accent-color-light: #20000088;


$bee-primary-color: #F2B705;
$bee-secondary-color: #D97904;
$bee-accent-color: #202200;
$bee-accent-color-light: #20220088;


$worm-primary-color: #ef9393;
$worm-secondary-color: #3f2626;
$worm-accent-color: #000000;
$worm-accent-color-light: #00000088;