@use 'scss/index';
@use 'scss/ants';

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}
body.index-page{
    @include index.index-rules();
}
body.ants-page{
    @include ants.ants-rules();
}